.wel-image-container {
    position: relative;
    margin: 90px auto 0;
    width: 1000px;
    height: 60vh;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
  }
  
  .wel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: opacity 1.1s ease-in-out; 
  }
  
  .base-image {
    opacity: 1; 
  }
  
  .hover-image {
    opacity: 0; 
  }
  
  .wel-image-container:hover .base-image {
    opacity: 1; 
  }
  
  .wel-image-container:hover .hover-image {
    opacity: 1; 
  }  